<!-- Start Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-12">
                <h4>Donate to Gaza</h4>
                <p>Gaza is currently facing a humanitarian crisis due to various challenges, including the recent events. Your generous donations can provide essential aid and support to those affected by the dire conditions in Gaza. Together, we can make a difference and offer hope to the people of Gaza during these difficult times.</p>
                <div class="col-lg-12 col-12">
                    <div class="row">
                        <div class="col-lg-7 col-12">
                            <p>Contact Support
                                <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=jaradshaimaa@gmail.com&su=Subject&body=Body%20Text"                            " class="author-link">Shaimaa Abu Jarad</a>
                                <!-- <a href="jaradshaimaa@gmail.com" class="author-link">Shaimaa Abu Jarad</a> -->
                            </p>
                        </div>
                        <div class="col-lg-5 col-12">
                            <div class="social-icons" style="display: inline-flex;">
                                <li><a href="https://wa.me/qr/WPNNQUQYHC72G1" class="social-icon-link bi-whatsapp"></a></li>
    
                                <li><a href="https://www.instagram.com/shaimaaabujarad/" class="social-icon-link bi-instagram"></a></li>
    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 offset-lg-1 col-12">
                <div class="row fading fade-active">
                    <div class="col-lg-6 col-6">
                        <h4>Our Goals</h4>
                        <a href="">Provide immediate relief to Gaza.</a>
                        <a href="">Empower individuals and families.</a>
                        <a href="">Advocate for Gaza's rights.</a>
                        <a href="">Promote education and awareness.</a>
                        <a href="">Foster partnerships for impact.</a>
]                    </div>
                    <div class="col-lg-6 col-6">
                        <h4>Ways to Help</h4>
                        <a href="#">Donate Now</a>
                        <a href="#">Get Involved</a>
                        <a href="#">Our Projects</a>
                        <a href="#">Impact Stories</a>
                        <a href="#">FAQs</a>
                    </div>
                    
                </div>
                
            </div>
            
        </div>
        
    </div>
</footer>
<!-- End Footer -->