{% load static %}
<main>
<section class="hero" id="hero">
    <div class="heroText">
        <h1 class="text-white mt-5 mb-lg-4" data-aos="zoom-in" data-aos-delay="800">
            The Dawn of Life in Gaza
        </h1>

        <p class="text-secondary-white-color" data-aos="fade-up" data-aos-delay="1000">
            Revitalizing Life in Gaza: Uniting Communities, Building Hope <strong class="custom-underline">Now</strong>
        </p>
    </div>

    <div class="videoWrapper">
        <video autoplay="" loop="" muted="" class="custom-video" poster="{% static 'images/portfolio/head_photo2.jpg' %}">
            <!-- <source src="{% static 'videos/Alef.mp4' %}" type="video/mp4"> -->

            Your browser does not support the video tag.
        </video>
    </div>

    <div class="overlay"></div>
</section>